html,body{
	height: 100%;
}

body{
	background: linear-gradient(to right, rgba(255,189,82,1) 0%, rgba(46,209,79,1) 58%, rgba(0,232,240,1) 100%);
}

h1{
	color: orange;
	font-family: 'Lacquer', sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	text-shadow: 2px 3px 0.2em black;
}
.galeria{
	/*border: solid;*/
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 75%;
}
.galeria div{
	 filter: grayscale(1);	 
}
.galeria div:hover{
	filter: grayscale(0);
}